body {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: none;
  width: 100vw;
  height: 100vh;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #e5e7eb;
  margin: 0;
  padding: 0;
}

nav {
  text-align: center;
  background-color: #141414;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem 4rem;
  position:fixed;
    top:0;
    width:100%;
    z-index:100;
}

/* Base style for links */
a {
  font-size: 1.25rem;
  color: #e5e7eb;
  text-decoration: none;
  display: block;
}

a:hover {
  color: #fff;
}
.gap {
  width: auto;
  display: block;
  margin-top:1000px;
}
/* Navbar links */
.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%
}

/* Logo icons */

svg g rect{
  stroke-dashoffset: 94.3;
  transition : .5s;
}
svg:hover g rect{
  stroke-dashoffset: 0;
}
a.middle
{
  margin-right: 3rem;
  /* Auto centering */
  margin-top: auto;
  margin-bottom: auto;
    color:white;
    position: relative;
  font-family: 'Roboto', sans-serif;
  font-size:30px;
  text-decoration: none;
}
a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}